; Original sample of a legacy (pre-Rainmeter 2.4) Rainstaller package layout, for Deskset tests.

[Rainstaller]
Name=Orbit
Author=Deskset tests
Version=1.0
AdminRights=1
RainmeterFonts=
MinRainmeterVer=1.3
Merge=0
KeepVar=1
LaunchType=Load
LaunchCommand=Orbit\Clock
